<h1>Daily forecast</h1>
<%= "#{cookies["city"]}, #{cookies["state"]}"%><br />
<%=link_to "(change)", "/settings" %><br />
<%=link_to "(Switch to Hourly)", "/forecast/hourly" %>

<table>
<thead>
    <tr>
      <th>Date</th>
      <th>Temp (feels like)</th>
      <th>Wind</th>
      <th>Precip <%= @units[:rain]%></th>
    </tr>
  </thead>

  <tbody>
  <% (@times.length).times do |i| %>
    <tr>
    <td> <%= @times[i] %></td>
    <td> <%= "#{@temps_min[i].round}#{@units[:temp]} - #{@temps_max[i].round}#{@units[:temp]}"%></td>
    <td> <%= "#{@wind_min[i].round}#{@units[:wind]} - #{@wind_max[i].round}#{@units[:wind]}" %></td>
    <td> <%= "#{@rain[i]}#{@units[:rain]} (#{@rain_prob[i]}%)"%></td>
    </tr>
    <% end %>
    

  </tbody>
  </table>
  <br /><br />
  <a href="https://open-meteo.com" target="_blank">Weather data by Open-Meteo.com</a>

  