<h1>Hourly forecast</h1>
<%= "#{cookies["city"]}, #{cookies["state"]}"%><br />
<%=link_to "(change)", "/settings" %><br />
<%=link_to "(Switch to Daily)", "/forecast/daily" %>
<table>
<thead>
    <tr>
      <th>Time</th>
      <th>Temp (feels like)</th>
      <th>Wind</th>
      <th>Precip <%= @units[:rain]%></th>
    </tr>
  </thead>

  <tbody>
  <% (@times.length).times do |i| %>
    <tr>
    <td> <%= @times[i].split('T')[1] %></td>
    <td> <%= "#{@temps[i].round}#{@units[:temp]} (#{@feels_like[i].round})"%></td>
    <td> <%= "#{@wind[i].round}\n#{@units[:wind]}" %></td>
    <td> <%= "#{@rain[i]}#{@units[:rain]} (#{@rain_prob[i]}%)"%></td>
    </tr>
    <% end %>
  </tbody>
  </table>
  <br /><br />
  <a href="https://open-meteo.com" target="_blank">Weather data by Open-Meteo.com</a>