
<div class='news_topics'>
<%= @title %><br /><br />
    <%= link_to 'Headlines', news_path({section: 'HEADLINES'}) %> |
    <%= link_to 'World', news_path({section: 'WORLD'}) %> |  <%= link_to 'Nation', news_path({section:'NATION'}) %> |
    <%= link_to 'Business', news_path({section: 'BUSINESS'}) %> |  <%= link_to 'Technology', news_path({section:'TECHNOLOGY'}) %> |
    <%= link_to 'Entertainment', news_path({section: 'ENTERTAINMENT'}) %> |  <%= link_to 'Science', news_path({section:'SCIENCE'}) %> |
    <%= link_to 'Sports', news_path({section: 'SPORTS'}) %> |  <%= link_to 'Health', news_path({section:'HEALTH'}) %>
</div>
<br /><br />
<div class="news">
    <% @news_items.each do |item| %>
            <b><%= item[:item_title] %></b><br />
            <ul>
            <% item[:articles].each do |article| %>
                <%= link_to article[:article_title], news_article_path(article: article[:article_url]) %>
            <% end %>
            </ul>
            <br />
    <% end %>
</div>